h1{ 
    color: rgb(2, 57, 105);
    font-family: cursive;
    text-align: center;
    font-size: 50px;
}

h2{
    color: rgb(11, 72, 125);
    font-family: cursive;
    text-align: center;
    font-size: 25px;
}

h3{
    text-align: center;
}

li{
    color: rgb(25, 88, 144);
    font-family: cursive;
    list-style-type: square;
}

footer{
    text-align: center;
    font-family: cursive;
    color: rgb(61, 119, 169);
}

li:has(>ul){
    color: rgb(235, 105, 19);
    font-family: cursive;
    list-style-type: square;

}
    