h1{
    color:rgb(5, 84, 80);
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    }

h2{
    color:rgb(4, 103, 103);
    font-size: 25px;
    text-align: center;
    font-family: cursive
}

h3{ 
    text-align: center;
}


footer{
    text-align: center;
    font-family: cursive;
    color: rgb(0, 115, 77);
}

li{
    color: rgb(0, 115, 77);
    font-family: cursive;
}

li.list-header{
    color: rgb(4, 103, 103);
}


